<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update form</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>
<div class="writebox">
    <h2>Update Board</h2>
    <form th:action="@{/update}" method="post" th:object="${board}">
        <input type="hidden" name="id" th:value="${param.id}" />

        <label for="name">Name</label><br>
        <input type="text" id="name" th:field="*{name}" required/><br>

        <label for="title">Title</label><br>
        <input type="text" id="title" th:field="*{title}" required/><br>

        <label for="content">Content</label><br>
        <textarea id="content" th:field="*{content}" required></textarea><br>

        <label for="password">Password (for verification)</label><br>
        <input type="password" id="password" th:field="*{password}" required><br>
        <button type="submit">Update</button>
    </form>
</div>

</body>
</html>